/*Mixins and Extends
=======================*/

/*Variables
=======================*/
$primary-color: coral;
$secondary-color: #458;
$box-color: steelblue;
$padding: 20px;
$margin: 60px;
$text-color: white;

/*Styles
=======================*/
p {
	color: $text-color;
	a {
		color: $primary-color;
		text-decoration: none;
		&:hover {
			color: $text-color;
		}
	}
}
body {
	background: $primary-color;
}
.nav {
	background: $secondary-color;
	display: block;
	width: 100%;
	min-height: 80px;
	text-align: center;
	h1 {
		padding: $padding;
		margin: 0;
		color: $text-color;
	}
}
.box {
	background: $box-color;
	display: inline-block;
	width: 300px;
	height: 300px;
	padding: $padding;
	margin: $margin;
	border-radius: 5px;
}
.footer {
	@extend .nav;
}
