/*Mixins and Extends
=======================*/
/*Variables
=======================*/
/*Styles
=======================*/
p {
  color: white; }
  p a {
    color: coral;
    text-decoration: none; }
    p a:hover {
      color: white; }

body {
  background: coral; }

.nav, .footer {
  background: #445588;
  display: block;
  width: 100%;
  min-height: 80px;
  text-align: center; }
  .nav h1, .footer h1 {
    padding: 20px;
    margin: 0;
    color: white; }

.box {
  background: steelblue;
  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 60px;
  border-radius: 5px; }
